<!DOCTYPE html>
<html>
<head>
{% block stylsheet %}{% endblock %}
</head>
<body>
{% block header %}<p class="text-box">
    {% if role is 'instructor' %}
        <a href="{% url 'maptoolapp:toolinstanceconfig' %}">Add or Edit a Map View</a>&#160;|&#160;
    {% endif %}
        <a href="{% url 'maptoolapp:add_location' %}">Add Location</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:mapsview' %}">View Map</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:table_view' %}">View Table</a>
      </p>{% endblock %}
{% block content %}{% endblock %}
</body>
</html>

<p class="text-box">
        <a href="{% url 'maptoolapp:toolinstanceconfig' %}">Add or Edit a Map View</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:add_location' %}">Add Location</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:mapsview' %}">View Map</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:table_view' %}">View Table</a>
</p>