{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>LTI Map App</title>

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" media="screen"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
      .map-style {
	  	width: 80%;
	  	height: 400px;
	  	display: inline-block;
      	}
      .description-text {
      	width: 600px;
      	}
      .my-points {
      	display: inline-block;
      	position: absolute;
      	}
      .map-container {
    	margin: 20px;
      	}
      .point-title {
      	font-weight: bold;
      	font-size: 1em;
      	margin-left: 20px;
      	}
    </style>
{% endblock %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&sensor=false"></script>
<script src="{% static "js/maptool.js" %}"></script>
{% endblock %}
</head>
<body>

{% block content %}
<div id="content-div" class="row-fluid">
<p class="text-box">
        <a href="{% url 'maptoolapp:toolinstanceconfig' %}">Add or Edit a Map View</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:add_location' %}">Add Location</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:mapsview' %}">View Map</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:table_view' %}">View Table</a>
</p>

    {% for rec in itemgroup %}
<div class="text-center"><h3>{{ rec.item_name }}</h3><h4>{{ rec.item_description }}</h4></div>
{% endfor %}

    {% if urls.url_1 != "" %}
    <div class="map-container">
        <h3>{{ urls.description_1 }}</h3>
        <div id="map-canvas-1" data-lat="{{ urls.generated_latitude_1 }}" data-long="{{ urls.generated_longitude_1 }}" data-zoom="8" data-item-group-id="{{ urls.itemgroup_id }}" class="map-style">&#160;</div>
    <div class="my-points">
  		<p class="point-title">My Points</p>
		<ul>
            {% for point in mypoints %}
			<li class="a-point" data-id="{{ point.id }}">{{ point.title }} <a href="#"><i class="fa fa-trash"></i></a></li>
            {% endfor %}
		</ul>
	</div>
    </div>
    {% endif %}
    {% if urls.url_2 != "" %}
    <div class="map-container">
        <h3>{{ urls.description_2 }}</h3>
        <div id="map-canvas-2" data-lat="{{ urls.generated_latitude_2 }}" data-long="{{ urls.generated_longitude_2 }}" data-zoom="8" data-item-group-id="{{ urls.itemgroup_id }}" class="map-style">&#160;</div>
    </div>
    {% endif %}
    {% if urls.url_3 != "" %}
    <div class="map-container">
        <h3>{{ urls.description_3 }}</h3>
        <div id="map-canvas-3" data-lat="{{ urls.generated_latitude_3 }}" data-long="{{ urls.generated_longitude_3 }}" data-zoom="8" data-item-group-id="{{ urls.itemgroup_id }}" class="map-style">&#160;</div>
    </div>
    <div id="data_url">{% url 'maptoolapp:markers_class_xml' %}</div>
    <table>
        {% for key, val in lti_launch %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ val }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
</body>
</html>