{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>LTI Student Locations Map View</title>
{% block stylsheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" media="screen"/>
{% endblock %}
</head>
<body>
{% block content %}

<p class="text-box">
        <a href="{% url 'maptoolapp:toolinstanceconfig' %}">Add or Edit a Map View</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:add_location' %}">Add Location</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:mapsview' %}">View Map</a>&#160;|&#160;
        <a href="{% url 'maptoolapp:table_view' %}">View Table</a>
</p>
        <table class="table table-striped table-bordered table-condensed">
            <caption>Student Listing</caption>
            <p> {{ generated_latitude }} {{ generated_longitude }}</p>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Location Name</th>
                <th>Location Information</th>
                <th>Google Map URL</th>
            </thead>
            <tbody>
                {%  for rec in data %}
                <tr>
                    <td> {{ rec.first_name }} </td>
                    <td> {{ rec.last_name }} </td>
                    <td> {{ rec.title }} </td>
                    <td> {{ rec.info }} </td>
                    <td><a href="http://maps.google.com/?q={{ rec.generated_latitude }},{{ rec.generated_longitude }}" target="_blank">Location of {{ rec.title }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
</body>
</html>
