{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Table View</title>
    {% block stylsheet %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" media="screen"/>
    {% endblock %}
</head>

<body>
{% block content %}
    {% include 'maptoolapp/_header.html' %}
        <table class="table table-striped table-bordered table-condensed">
            <caption>Pinned Locations</caption>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Location Name</th>
                <th>Location Information</th>
                <th>Google Map URL</th>
            </thead>
            <tbody>
            {% for rec in data %}
                <tr>
                    <td> {{ rec.first_name }} </td>
                    <td> {{ rec.last_name }} </td>
                    <td> {{ rec.title }} </td>
                    <td> {{ rec.info }} </td>
                    <td><a href="http://maps.google.com/?q={{ rec.generated_latitude }},{{ rec.generated_longitude }}" target="_blank">Location of {{ rec.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
</body>
</html>
