{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<title>Instance Config</title>

{% block stylsheet %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" media="screen"/>
  <style type="text/css">
  #add_user_form { margin-left: 10px; margin-top: 10px; max-width: 80%;}
  .location-box { border: thin solid lightgrey; margin: 10px 10px; padding: 10px 10px;}
  .text-box { margin: 10px 10px; padding: 10px 10px;}
  legend { border-bottom: 0; }
  </style>
 {% endblock %}
</head>
<script>
    $('.delete-button').click(function(e){
        var id = '#' + $(this).parent().attr('data_id');
        };
</script>
<body>

{% block content %}
{% if data and count != "0" %}
    <table class="table table-striped table-bordered table-condensed">
            <caption>Delete Existing Views</caption>
            <thead>
                <th>View Name</th>
                <th>View Description</th>
                <th>Click here to delete view</th>
            </thead>
            <tbody>
                {%  for rec in data %}
                <tr>
                    <td> {{ rec.item_name }} </td>
                    <td> {{ rec.item_description }} </td>
                    <td>
                        <a href="" class="delete-button" data_id="{{ rec.id }}">Delete</a></td>
                {% endfor %}
            </tbody>
        </table>
{% endif %}
{% crispy itemgroupform %}

{% endblock %}
</body>
</html>
